.conteudo img{
    display: block;
    margin-right: auto;
    margin-left : auto;
    max-height: 400px;
    padding: 20px;
}
.conteudo h3{
    color: #F37336;
    text-align: center;
}

.conteudo p{
    text-align: justify;
}